<!DOCTYPE html>
<html>
<head>
    <title>Convert JSON Data to HTML Table</title>
</head>
<body>
    <input type="button" onclick="CreateRecordTable()" value="Create Table From JSON" />
    <p id="showData"></p>
</body>

<script>
    async function CreateRecordTable() {

        // Call Records Endpoint
        let response = await fetch("./records");
        if (response.ok) { // if HTTP-status is 200-299
            // get the response body (the method explained below)
            let myRecords = await response.json();
          } else {
            alert("HTTP-Error: " + response.status);
        // EXTRACT VALUE FOR HTML HEADER.
        var col = [];
        for (var i = 0; i < myRecords.length; i++) {
            for (var key in myRecords[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }

        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < myRecords.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = myRecords[i][col[j]];
            }
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }
</script>
</html>
